# ======================
# Snowflake Auth
# ======================

TF_VAR_snowflake_organization=
TF_VAR_snowflake_account_name=
TF_VAR_snowflake_user=
TF_VAR_snowflake_password=

TF_VAR_rsa_public_key="$(grep -v 'BEGIN PUBLIC KEY\|END PUBLIC KEY' /workspaces/DE_Zoomcamp_FlightsDelay/keys/rsa_key.pub | tr -d '\n')"
# ======================
# Snowflake SA
# ======================
DBT_SF_ACCOUNT=
DBT_SF_USER=SERVICE_USER_DBT_ACCOUNT
DBT_SF_KEY_PATH=/workspaces/DE_Zoomcamp_FlightsDelay/keys/rsa_key.p8
DBT_SF_ROLE=SYSADMIN
DBT_SF_DATABASE=DE_ZOOMCAMP_FLIGHTS_DB
DBT_SF_WAREHOUSE=DEV_WH
DBT_SF_SCHEMA=STAGING

# ======================
# GCP
# ======================
#GOOGLE_APPLICATION_CREDENTIALS=/workspaces/DE_Zoomcamp_FlightsDelay/keys/gcp-key.json
GOOGLE_APPLICATION_CREDENTIALS=/workspaces/DE_Zoomcamp_FlightsDelay/keys/flights-pipeline-sa-key.json

TF_VAR_project_id=de-zoomcamp-flightsdelay-dev
TF_VAR_region=us-central1
TF_VAR_bucket_name=de-zoomcamp-flightsdelay-jc-arhuarica
TF_VAR_dataset_id=flights_dataset

# ======================
# DBT
# ======================
DBT_PROFILES_DIR=/home/vscode/.dbt
