# Python
.data_eng_env/
__pycache__/
*.pyc

# Env
.env
!.env.example

# Keys
keys/
keys/*.json
keys/*.p8
keys/*.pub

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# dbt
target/
logs/
dbt_packages/

# IDE
.vscode/

# OS
.DS_Store